export const APP_PORT = 9001;
export const SOCKET_POTR = 9002;
export const TOKEN_REFRESH_EXPIRE = 60 * 60 * 24 * 7;
export const TOKEN_SECRET = 'xxxxxxx';

export const MYSQL = {
  host: 'localhost',
  port: 3306,
  username: 'iot',
  password: '123456',
  database: 'iot',
};
